<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List People</title>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<h1> Users</h1>
<table border="1">
    <tr style="color: indianred">
        <th>Id</th>
        <th>Login</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th colspan="2">Action</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/admin/view/{id}(id=${user.getId()})}" th:utext="${user.getId()}"></a></td>
        <td th:utext="${user.getLogin()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td th:utext="${user.getRoles()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/view/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <a th:href="@{/admin/view/{id}/edit(id=${user.getId()})}"><button>Edit</button></a>
        </td>
    </tr>
</table>
<br/>
<br>
<hr/>
<h2>Create a new user</h2>
<form action="/admin/view/new">
    <button>New User</button>
</form>
</body>
</html>