<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<table>
    <tr>
        <td>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </td>
        <td><a th:href="@{/admin/view}"><button>Manage Users</button></a></td>
    </tr>
</table>
<form th:method="patch" th:action="@{/admin/view/{id}(id=${user.getId()})}" th:object="${user}">
    <table>
        <colgroup>
            <col span="1" style="background:Khaki">
            <col style="background-color:LightCyan">
        </colgroup>
        <tr>
            <td><label for="id">Id</label></td>
            <td><input readonly type="number" th:field="*{id}" id="id"/></td>
        </tr>
        <tr>
            <td><label for="login">Login</label></td>
            <td><input readonly type="text" th:field="*{login}" id="login"/></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" th:field="*{password}" id="password" autocomplete="off"/></td>
        </tr>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" th:field="*{name}" id="name"/></td>
        </tr>
        <tr>
            <td><label for="surName">Surname</label></td>
            <td><input type="text" th:field="*{surName}" id="surName"/></td>
        </tr>
        <tr>
            <td><label for="age">Age </label></td>
            <td><input type="number" th:field="*{age}" id="age"/></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        <tr>
            <td>Select multiple roles</td>
            <td>
                <select name="roleList" id="roleList" required="required" style="width: 100%" multiple>
                    <option th:each="r : ${roles}" th:value="${r.getId()}" th:text="${r.getRoleName()}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Update user">
</form>
</body>
</html>