<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<table>
  <tr>
    <td>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
      </form>
    </td>
    <td>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/view}"><button>Manage Users</button></a>
      </div>
    </td>
  </tr>
</table>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  <p>Selected User: </p>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  <p>You are logged as: </p>
</div>
<table border="1">
  <colgroup>
    <col span="1" style="background:Khaki">
    <col style="background-color:LightCyan">
  </colgroup>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <tr>
      <td>Id</td>
      <td th:text="${user.getId()}">Id</td>
    </tr>
  </div>
  <tr>
    <td>Login</td>
    <td th:text="${user.getLogin()}">Login</td>
  </tr>
  <tr>
    <td>Name</td>
    <td th:text="${user.getName()}">Name</td>
  </tr>
  <tr>
    <td>Surname</td>
    <td th:text="${user.getSurName()}">Surname</td>
  </tr>
  <td>Age</td>
    <td th:text="${user.getAge()}">Age</td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td th:text="${user.getEmail()}">Email</td>
  </tr>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <tr>
      <td>Role</td>
      <td th:text="${user.getRoles()}">Role</td>
    </tr>
  </div>
</table>
<br>
</body>
</html>